body {
    margin: 0; background-color: black;
    -webkit-font-smoothing: subpixel-antialiased;
    font-smoothing: subpixel-antialiased;
}
#screen {
    margin: 0;
    padding: 0;
    font-size: 13px;
    height: 100%;
    font: sans-serif;
}
.no-sel {
    outline: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
}
.cell {
    pointer-events: none;
}
.cell-version {
    padding-left: 4px;
    padding-top: 0.5em;
    text-align: left;
    display: inline-block;
    float: left;
    color: rgba(255, 255, 255, 0.75);
}
.cell-about {
    padding-right: 24px;
    padding-top: 0.5em;
    text-align: right;
    display: inline-block;
    float: right;
}
.nav-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 1.0);
}
svg {
    -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
    filter: invert(100%);
}

.f0 {color:#000000}
.f1 {color:#800000}
.f2 {color:#008000}
.f3 {color:#808000}
.f4 {color:#000080}
.f5 {color:#800080}
.f6 {color:#008080}
.f7 {color:#c0c0c0}
.f8 {color:#808080}
.f9 {color:#ff0000}
.f10 {color:#00ff00}
.f11 {color:#ffff00}
.f12 {color:#0000ff}
.f13 {color:#ff00ff}
.f14 {color:#00ffff}
.f15 {color:#ffffff}
.f16 {color:#000000}
.f17 {color:#00005f}
.f18 {color:#000087}
.f19 {color:#0000af}
.f20 {color:#0000d7}
.f21 {color:#0000ff}
.f22 {color:#005f00}
.f23 {color:#005f5f}
.f24 {color:#005f87}
.f25 {color:#005faf}
.f26 {color:#005fd7}
.f27 {color:#005fff}
.f28 {color:#008700}
.f29 {color:#00875f}
.f30 {color:#008787}
.f31 {color:#0087af}
.f32 {color:#0087d7}
.f33 {color:#0087ff}
.f34 {color:#00af00}
.f35 {color:#00af5f}
.f36 {color:#00af87}
.f37 {color:#00afaf}
.f38 {color:#00afd7}
.f39 {color:#00afff}
.f40 {color:#00d700}
.f41 {color:#00d75f}
.f42 {color:#00d787}
.f43 {color:#00d7af}
.f44 {color:#00d7d7}
.f45 {color:#00d7ff}
.f46 {color:#00ff00}
.f47 {color:#00ff5f}
.f48 {color:#00ff87}
.f49 {color:#00ffaf}
.f50 {color:#00ffd7}
.f51 {color:#00ffff}
.f52 {color:#5f0000}
.f53 {color:#5f005f}
.f54 {color:#5f0087}
.f55 {color:#5f00af}
.f56 {color:#5f00d7}
.f57 {color:#5f00ff}
.f58 {color:#5f5f00}
.f59 {color:#5f5f5f}
.f60 {color:#5f5f87}
.f61 {color:#5f5faf}
.f62 {color:#5f5fd7}
.f63 {color:#5f5fff}
.f64 {color:#5f8700}
.f65 {color:#5f875f}
.f66 {color:#5f8787}
.f67 {color:#5f87af}
.f68 {color:#5f87d7}
.f69 {color:#5f87ff}
.f70 {color:#5faf00}
.f71 {color:#5faf5f}
.f72 {color:#5faf87}
.f73 {color:#5fafaf}
.f74 {color:#5fafd7}
.f75 {color:#5fafff}
.f76 {color:#5fd700}
.f77 {color:#5fd75f}
.f78 {color:#5fd787}
.f79 {color:#5fd7af}
.f80 {color:#5fd7d7}
.f81 {color:#5fd7ff}
.f82 {color:#5fff00}
.f83 {color:#5fff5f}
.f84 {color:#5fff87}
.f85 {color:#5fffaf}
.f86 {color:#5fffd7}
.f87 {color:#5fffff}
.f88 {color:#870000}
.f89 {color:#87005f}
.f90 {color:#870087}
.f91 {color:#8700af}
.f92 {color:#8700d7}
.f93 {color:#8700ff}
.f94 {color:#875f00}
.f95 {color:#875f5f}
.f96 {color:#875f87}
.f97 {color:#875faf}
.f98 {color:#875fd7}
.f99 {color:#875fff}
.f100 {color:#878700}
.f101 {color:#87875f}
.f102 {color:#878787}
.f103 {color:#8787af}
.f104 {color:#8787d7}
.f105 {color:#8787ff}
.f106 {color:#87af00}
.f107 {color:#87af5f}
.f108 {color:#87af87}
.f109 {color:#87afaf}
.f110 {color:#87afd7}
.f111 {color:#87afff}
.f112 {color:#87d700}
.f113 {color:#87d75f}
.f114 {color:#87d787}
.f115 {color:#87d7af}
.f116 {color:#87d7d7}
.f117 {color:#87d7ff}
.f118 {color:#87ff00}
.f119 {color:#87ff5f}
.f120 {color:#87ff87}
.f121 {color:#87ffaf}
.f122 {color:#87ffd7}
.f123 {color:#87ffff}
.f124 {color:#af0000}
.f125 {color:#af005f}
.f126 {color:#af0087}
.f127 {color:#af00af}
.f128 {color:#af00d7}
.f129 {color:#af00ff}
.f130 {color:#af5f00}
.f131 {color:#af5f5f}
.f132 {color:#af5f87}
.f133 {color:#af5faf}
.f134 {color:#af5fd7}
.f135 {color:#af5fff}
.f136 {color:#af8700}
.f137 {color:#af875f}
.f138 {color:#af8787}
.f139 {color:#af87af}
.f140 {color:#af87d7}
.f141 {color:#af87ff}
.f142 {color:#afaf00}
.f143 {color:#afaf5f}
.f144 {color:#afaf87}
.f145 {color:#afafaf}
.f146 {color:#afafd7}
.f147 {color:#afafff}
.f148 {color:#afd700}
.f149 {color:#afd75f}
.f150 {color:#afd787}
.f151 {color:#afd7af}
.f152 {color:#afd7d7}
.f153 {color:#afd7ff}
.f154 {color:#afff00}
.f155 {color:#afff5f}
.f156 {color:#afff87}
.f157 {color:#afffaf}
.f158 {color:#afffd7}
.f159 {color:#afffff}
.f160 {color:#d70000}
.f161 {color:#d7005f}
.f162 {color:#d70087}
.f163 {color:#d700af}
.f164 {color:#d700d7}
.f165 {color:#d700ff}
.f166 {color:#d75f00}
.f167 {color:#d75f5f}
.f168 {color:#d75f87}
.f169 {color:#d75faf}
.f170 {color:#d75fd7}
.f171 {color:#d75fff}
.f172 {color:#d78700}
.f173 {color:#d7875f}
.f174 {color:#d78787}
.f175 {color:#d787af}
.f176 {color:#d787d7}
.f177 {color:#d787ff}
.f178 {color:#d7af00}
.f179 {color:#d7af5f}
.f180 {color:#d7af87}
.f181 {color:#d7afaf}
.f182 {color:#d7afd7}
.f183 {color:#d7afff}
.f184 {color:#d7d700}
.f185 {color:#d7d75f}
.f186 {color:#d7d787}
.f187 {color:#d7d7af}
.f188 {color:#d7d7d7}
.f189 {color:#d7d7ff}
.f190 {color:#d7ff00}
.f191 {color:#d7ff5f}
.f192 {color:#d7ff87}
.f193 {color:#d7ffaf}
.f194 {color:#d7ffd7}
.f195 {color:#d7ffff}
.f196 {color:#ff0000}
.f197 {color:#ff005f}
.f198 {color:#ff0087}
.f199 {color:#ff00af}
.f200 {color:#ff00d7}
.f201 {color:#ff00ff}
.f202 {color:#ff5f00}
.f203 {color:#ff5f5f}
.f204 {color:#ff5f87}
.f205 {color:#ff5faf}
.f206 {color:#ff5fd7}
.f207 {color:#ff5fff}
.f208 {color:#ff8700}
.f209 {color:#ff875f}
.f210 {color:#ff8787}
.f211 {color:#ff87af}
.f212 {color:#ff87d7}
.f213 {color:#ff87ff}
.f214 {color:#ffaf00}
.f215 {color:#ffaf5f}
.f216 {color:#ffaf87}
.f217 {color:#ffafaf}
.f218 {color:#ffafd7}
.f219 {color:#ffafff}
.f220 {color:#ffd700}
.f221 {color:#ffd75f}
.f222 {color:#ffd787}
.f223 {color:#ffd7af}
.f224 {color:#ffd7d7}
.f225 {color:#ffd7ff}
.f226 {color:#ffff00}
.f227 {color:#ffff5f}
.f228 {color:#ffff87}
.f229 {color:#ffffaf}
.f230 {color:#ffffd7}
.f231 {color:#ffffff}
.f232 {color:#080808}
.f233 {color:#121212}
.f234 {color:#1c1c1c}
.f235 {color:#262626}
.f236 {color:#303030}
.f237 {color:#3a3a3a}
.f238 {color:#444444}
.f239 {color:#4e4e4e}
.f240 {color:#585858}
.f241 {color:#626262}
.f242 {color:#6c6c6c}
.f243 {color:#767676}
.f244 {color:#808080}
.f245 {color:#8a8a8a}
.f246 {color:#949494}
.f247 {color:#9e9e9e}
.f248 {color:#a8a8a8}
.f249 {color:#b2b2b2}
.f250 {color:#bcbcbc}
.f251 {color:#c6c6c6}
.f252 {color:#d0d0d0}
.f253 {color:#dadada}
.f254 {color:#e4e4e4}
.f255 {color:#eeeeee}
.b1 {background-color:#800000}
.b2 {background-color:#008000}
.b3 {background-color:#808000}
.b4 {background-color:#000080}
.b5 {background-color:#800080}
.b6 {background-color:#008080}
.b7 {background-color:#c0c0c0}
.b8 {background-color:#808080}
.b9 {background-color:#ff0000}
.b10 {background-color:#00ff00}
.b11 {background-color:#ffff00}
.b12 {background-color:#0000ff}
.b13 {background-color:#ff00ff}
.b14 {background-color:#00ffff}
.b15 {background-color:#ffffff}
.b16 {background-color:#000000}
.b17 {background-color:#00005f}
.b18 {background-color:#000087}
.b19 {background-color:#0000af}
.b20 {background-color:#0000d7}
.b21 {background-color:#0000ff}
.b22 {background-color:#005f00}
.b23 {background-color:#005f5f}
.b24 {background-color:#005f87}
.b25 {background-color:#005faf}
.b26 {background-color:#005fd7}
.b27 {background-color:#005fff}
.b28 {background-color:#008700}
.b29 {background-color:#00875f}
.b30 {background-color:#008787}
.b31 {background-color:#0087af}
.b32 {background-color:#0087d7}
.b33 {background-color:#0087ff}
.b34 {background-color:#00af00}
.b35 {background-color:#00af5f}
.b36 {background-color:#00af87}
.b37 {background-color:#00afaf}
.b38 {background-color:#00afd7}
.b39 {background-color:#00afff}
.b40 {background-color:#00d700}
.b41 {background-color:#00d75f}
.b42 {background-color:#00d787}
.b43 {background-color:#00d7af}
.b44 {background-color:#00d7d7}
.b45 {background-color:#00d7ff}
.b46 {background-color:#00ff00}
.b47 {background-color:#00ff5f}
.b48 {background-color:#00ff87}
.b49 {background-color:#00ffaf}
.b50 {background-color:#00ffd7}
.b51 {background-color:#00ffff}
.b52 {background-color:#5f0000}
.b53 {background-color:#5f005f}
.b54 {background-color:#5f0087}
.b55 {background-color:#5f00af}
.b56 {background-color:#5f00d7}
.b57 {background-color:#5f00ff}
.b58 {background-color:#5f5f00}
.b59 {background-color:#5f5f5f}
.b60 {background-color:#5f5f87}
.b61 {background-color:#5f5faf}
.b62 {background-color:#5f5fd7}
.b63 {background-color:#5f5fff}
.b64 {background-color:#5f8700}
.b65 {background-color:#5f875f}
.b66 {background-color:#5f8787}
.b67 {background-color:#5f87af}
.b68 {background-color:#5f87d7}
.b69 {background-color:#5f87ff}
.b70 {background-color:#5faf00}
.b71 {background-color:#5faf5f}
.b72 {background-color:#5faf87}
.b73 {background-color:#5fafaf}
.b74 {background-color:#5fafd7}
.b75 {background-color:#5fafff}
.b76 {background-color:#5fd700}
.b77 {background-color:#5fd75f}
.b78 {background-color:#5fd787}
.b79 {background-color:#5fd7af}
.b80 {background-color:#5fd7d7}
.b81 {background-color:#5fd7ff}
.b82 {background-color:#5fff00}
.b83 {background-color:#5fff5f}
.b84 {background-color:#5fff87}
.b85 {background-color:#5fffaf}
.b86 {background-color:#5fffd7}
.b87 {background-color:#5fffff}
.b88 {background-color:#870000}
.b89 {background-color:#87005f}
.b90 {background-color:#870087}
.b91 {background-color:#8700af}
.b92 {background-color:#8700d7}
.b93 {background-color:#8700ff}
.b94 {background-color:#875f00}
.b95 {background-color:#875f5f}
.b96 {background-color:#875f87}
.b97 {background-color:#875faf}
.b98 {background-color:#875fd7}
.b99 {background-color:#875fff}
.b100 {background-color:#878700}
.b101 {background-color:#87875f}
.b102 {background-color:#878787}
.b103 {background-color:#8787af}
.b104 {background-color:#8787d7}
.b105 {background-color:#8787ff}
.b106 {background-color:#87af00}
.b107 {background-color:#87af5f}
.b108 {background-color:#87af87}
.b109 {background-color:#87afaf}
.b110 {background-color:#87afd7}
.b111 {background-color:#87afff}
.b112 {background-color:#87d700}
.b113 {background-color:#87d75f}
.b114 {background-color:#87d787}
.b115 {background-color:#87d7af}
.b116 {background-color:#87d7d7}
.b117 {background-color:#87d7ff}
.b118 {background-color:#87ff00}
.b119 {background-color:#87ff5f}
.b120 {background-color:#87ff87}
.b121 {background-color:#87ffaf}
.b122 {background-color:#87ffd7}
.b123 {background-color:#87ffff}
.b124 {background-color:#af0000}
.b125 {background-color:#af005f}
.b126 {background-color:#af0087}
.b127 {background-color:#af00af}
.b128 {background-color:#af00d7}
.b129 {background-color:#af00ff}
.b130 {background-color:#af5f00}
.b131 {background-color:#af5f5f}
.b132 {background-color:#af5f87}
.b133 {background-color:#af5faf}
.b134 {background-color:#af5fd7}
.b135 {background-color:#af5fff}
.b136 {background-color:#af8700}
.b137 {background-color:#af875f}
.b138 {background-color:#af8787}
.b139 {background-color:#af87af}
.b140 {background-color:#af87d7}
.b141 {background-color:#af87ff}
.b142 {background-color:#afaf00}
.b143 {background-color:#afaf5f}
.b144 {background-color:#afaf87}
.b145 {background-color:#afafaf}
.b146 {background-color:#afafd7}
.b147 {background-color:#afafff}
.b148 {background-color:#afd700}
.b149 {background-color:#afd75f}
.b150 {background-color:#afd787}
.b151 {background-color:#afd7af}
.b152 {background-color:#afd7d7}
.b153 {background-color:#afd7ff}
.b154 {background-color:#afff00}
.b155 {background-color:#afff5f}
.b156 {background-color:#afff87}
.b157 {background-color:#afffaf}
.b158 {background-color:#afffd7}
.b159 {background-color:#afffff}
.b160 {background-color:#d70000}
.b161 {background-color:#d7005f}
.b162 {background-color:#d70087}
.b163 {background-color:#d700af}
.b164 {background-color:#d700d7}
.b165 {background-color:#d700ff}
.b166 {background-color:#d75f00}
.b167 {background-color:#d75f5f}
.b168 {background-color:#d75f87}
.b169 {background-color:#d75faf}
.b170 {background-color:#d75fd7}
.b171 {background-color:#d75fff}
.b172 {background-color:#d78700}
.b173 {background-color:#d7875f}
.b174 {background-color:#d78787}
.b175 {background-color:#d787af}
.b176 {background-color:#d787d7}
.b177 {background-color:#d787ff}
.b178 {background-color:#d7af00}
.b179 {background-color:#d7af5f}
.b180 {background-color:#d7af87}
.b181 {background-color:#d7afaf}
.b182 {background-color:#d7afd7}
.b183 {background-color:#d7afff}
.b184 {background-color:#d7d700}
.b185 {background-color:#d7d75f}
.b186 {background-color:#d7d787}
.b187 {background-color:#d7d7af}
.b188 {background-color:#d7d7d7}
.b189 {background-color:#d7d7ff}
.b190 {background-color:#d7ff00}
.b191 {background-color:#d7ff5f}
.b192 {background-color:#d7ff87}
.b193 {background-color:#d7ffaf}
.b194 {background-color:#d7ffd7}
.b195 {background-color:#d7ffff}
.b196 {background-color:#ff0000}
.b197 {background-color:#ff005f}
.b198 {background-color:#ff0087}
.b199 {background-color:#ff00af}
.b200 {background-color:#ff00d7}
.b201 {background-color:#ff00ff}
.b202 {background-color:#ff5f00}
.b203 {background-color:#ff5f5f}
.b204 {background-color:#ff5f87}
.b205 {background-color:#ff5faf}
.b206 {background-color:#ff5fd7}
.b207 {background-color:#ff5fff}
.b208 {background-color:#ff8700}
.b209 {background-color:#ff875f}
.b210 {background-color:#ff8787}
.b211 {background-color:#ff87af}
.b212 {background-color:#ff87d7}
.b213 {background-color:#ff87ff}
.b214 {background-color:#ffaf00}
.b215 {background-color:#ffaf5f}
.b216 {background-color:#ffaf87}
.b217 {background-color:#ffafaf}
.b218 {background-color:#ffafd7}
.b219 {background-color:#ffafff}
.b220 {background-color:#ffd700}
.b221 {background-color:#ffd75f}
.b222 {background-color:#ffd787}
.b223 {background-color:#ffd7af}
.b224 {background-color:#ffd7d7}
.b225 {background-color:#ffd7ff}
.b226 {background-color:#ffff00}
.b227 {background-color:#ffff5f}
.b228 {background-color:#ffff87}
.b229 {background-color:#ffffaf}
.b230 {background-color:#ffffd7}
.b231 {background-color:#ffffff}
.b232 {background-color:#080808}
.b233 {background-color:#121212}
.b234 {background-color:#1c1c1c}
.b235 {background-color:#262626}
.b236 {background-color:#303030}
.b237 {background-color:#3a3a3a}
.b238 {background-color:#444444}
.b239 {background-color:#4e4e4e}
.b240 {background-color:#585858}
.b241 {background-color:#626262}
.b242 {background-color:#6c6c6c}
.b243 {background-color:#767676}
.b244 {background-color:#808080}
.b245 {background-color:#8a8a8a}
.b246 {background-color:#949494}
.b247 {background-color:#9e9e9e}
.b248 {background-color:#a8a8a8}
.b249 {background-color:#b2b2b2}
.b250 {background-color:#bcbcbc}
.b251 {background-color:#c6c6c6}
.b252 {background-color:#d0d0d0}
.b253 {background-color:#dadada}
.b254 {background-color:#e4e4e4}
.b255 {background-color:#eeeeee}

